/* Repeating background pattern downloaded from toptal.com */
body {
    background: url(./assets/repeated-square.png);
    background-repeat: repeat;
  }

  #img-overlay {
    top: 65%;
  }

  main {
    max-width: 600px;
    margin: 10px;
  }

  @media screen and ()