
/* styling for body */


.navbar {
    background-color: #47A19B;
}

/* styling for my about me card */
.col {
    width:100%;
}

.card {
    max-width:500px;
    margin-top: 20px;

}

.card-img {
    max-width: 100px;
    margin-right: 10px;
    float: left;
}

/* styling for footer */

footer {
    background-color: gray;
}

@media screen and (max-width: 768px) {
    .card, .card-body, .card-img {  
        max-width: 100%;
    }

    .card-img{
        max-width: 200px;
    }
}


@media screen and (max-width: 576px) {
    .card, .card-body {  
        max-width: 100%;
        margin: 0 auto;
        float: none;
    }

    .card-img {
        float: none;
        margin: 0 auto;
        max-width: 100%;
    }
}